#text{
    color: red;
    font: 40px Tahoma bold;
    text-align: center;
}

#choiceMenu{
    width: 150px;
    border-radius: 50px;
    padding: 7px;
    font-size: 15px;;
}

#confirm{
    width: 90px;
    background-color: rgba(186, 231, 61, 0.5);
    color: rgb(76, 0, 255);
    border-radius: 90px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    /* border: 5px dotted red; */
    border: none;
}

#confirm:hover{
    background-color: rgb(172, 10, 145);
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
}

#showPic{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    position: relative;
}

#result{
    margin-top: 0px;
    width: 600px;
}

.hide {
    opacity: 0;
    transform: scale(1.5) rotate(360deg);
  }

#openingAnimation{
    width: 300px;
    transition: all 2s ease;
    position: absolute;
}
